

<header class="top group">
  <nav class="top-bar">

    <div class="logo">
      <a href="#">beerfavorit.es</a>
    </div>

    <ul class="top-list">
      <li>
        <a href="#"><%= @user ? '' : @user.username.capitalize %></a>
      </li>
      <li>
          <%= button_to "Log Out", { controller: "devise/sessions", action: "destroy" }, method: :delete, form_class: "log-out-button"%>
      </li>
    </ul>

  </nav>
</header>