div.sign-in, div.sign-up {
  width: 50%;
  height: 50%;
  overflow: auto;
  margin: 100px auto 0px auto;
  top: 0; left: 0; bottom: 0; right: 0;
  padding: 20px 0px;
  text-align: center;
  background-color: rgba(0,0,0,0.3);
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;

  input[name="commit"] {
    background-color: rgba(0,0,0,0.3);
    padding: 5px;
    margin: 10px;
    cursor: pointer;
  }

}

div.sign-in-container{
  width: 1000px;
}
