p.notice, p.alert {
  text-align: center;
  margin: auto;
  width: 100%;
  background-color: rbga(255,255,204,0.3);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  font-size: 20px;
}

body {
  background-image: url('/background.png'), -webkit-linear-gradient(bottom, #FAFF69 0%, #EF5E16 100%);
  background-position: left top;
  background-repeat: repeat-x, no-repeat;
  background-attachment:fixed, fixed;
  -webkit-transition: all 0.3s ease-out;  /* Chrome 1-25, Safari 3.2+ */
  -moz-transition: all 0.3s ease-out;  /* Firefox 4-15 */
  -o-transition: all 0.3s ease-out;  /* Opera 10.50–12.00 */
  transition: all 0.3s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
}

body:hover {
    background-color: white;

}

div.container {
  width: 1000px;
  margin: auto;
}

div.sidebar {
  // width: 200px;
  float: left;
  background: gray;
}

div.content {
  width: 1000px;
  float: left;
  background-color: rgba(0,0,0,0.0);
}

.groupup:before {
  content: '';
  clear:both;
  display: table;

}
