  // Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


html, body, head, div, ul, li, header, nav, p, h3, h2, h1, span, input {
  padding: 0;
  margin: 0;
  border: 0;
}

.group {
  content: '';
  clear: both;
  display: table;
}

div.header-container {
  overflow: hidden;
}

div.header-top {
  // width: 100%;
  // height: 2000px;
  // background-color: white;
  // top: -2000px;
}

header.top {
  width: 100%;
  // background-color: white;
  position: fixed;
  z-index: 9999;
  background-image: url('/background.png');
  height: 92px;
}

nav.top-bar {
  width: 1000px;
  margin: auto;
  z-index: 999;
}

nav > div > a:hover {
  background-color: darkgray;
}

ul.top-list > li > a {
  padding: 16px;
  font-family: 'Julius Sans One', sans-serif;
  color: black;
  text-decoration: none;
  font-size: 18px;
  // border-left: 1px solid grey;
  display: block;
}

ul.top-list > li > a:hover {
  background-color: darkgray;
}

ul.top-list > li:last-child > a {
  // border-right: 1px solid grey;
}

ul.top-list > li:last-child > a {
  // border-right: 1px solid grey;
  }

.logo > a {
  font-family: 'Bad Script', cursive;
  font-size: 25px;
  text-decoration: none;
  display: block;
  // border-left: 1px solid gray;
  // border-right: 1px solid gray;
  padding: 0px 16px;
  color: black
}

.logo > a:visited {
  color: black;
}

.logo-mid{
  position: fixed;
}

.logo-mid > a {
  font-family: 'Bad Script', cursive;
  font-size: 25px;
  text-decoration: none;
  display: block;
  color: black;
  &:hover {
    background-color: rgba(0,0,0,0);
  }
}

div.logo {
  float: left;

}

.top-bar > ul {
  float: right;
  list-style-type: none;
}

.top-bar > ul > li {
  float: left;
}

form.log-out-button input {
  padding: 16px;
  font-size: 18px;
  font-family: 'Julius Sans One', sans-serif;
  color: black;
  border-top: none;
  border-bottom: none;
  // border-left: 1px solid grey;
  // border-right: 1px solid grey;
  cursor: pointer;
  &:hover {
    background: rgba(0,0,0,0.3);
  }
}

.bubble {
   width:20px; /* Our bubble will be 200px wide and 200px tall */
   height:20px;
   margin:0 auto;
   box-shadow:inset 3px 3px 7.5px rgba(0,0,0,.1), /* this gives us our subtle light gray background gradient */
              inset .3px .3px .5px rgba(0,0,0,.5); /* this gives us the slightly darker top left edge */
   border-radius:10px; /* making our border-radius half the width/height ensures a perfectly round circle */
   background:rgba(255,255,255,.4); /* makes our bubble slightly lighter in color than the background */
   position:relative; /* allows us to absolutely position the pseudo elements within the bubble */
}

.bubble:before { /* adds the white highlight on the top left of the bubble */
   content:"";
   display:block;
   position:absolute;
   width:10px;
   height:10px;
   top:1.5px;
   left:1.5px;
   border-radius: 15px 5px;
   box-shadow:inset 1px 1px 5px rgba(255,255,255,.6);
}


.a {
  position: fixed;
  top: 100px;
  left: 100px;
}

.b {
  position: fixed;
  top: 200px;
  left: 150px;
}

.c {
  position: fixed;
  top: 150px;
  left: 1350px;
}

.d {
  position: fixed;
  top: 250px;
  left: 1550px;
}
.e {
  position: fixed;
  top: 450px;
  left: 1350px;
}
.f {
  position: fixed;
  top: 400px;
  left: 200px;
}

.g {
  position: fixed;
  top: 250px;
  left: 1050px;
}
.h {
  position: fixed;
  top: 450px;
  left: 1050px;
}
.i {
  position: fixed;
  top: 400px;
  left: 900px;
}

div.top-white {
  background-color: white;
  position: relative;
  z-index: 999;
  width: 100%;
  margin-bottom: -2px;
}

div.parallax-container {
  position: relative;
  overflow: hidden;
  width: 100%;

}

.sidebar {
  .chzn-container {
    color: black;
  }
}